body {
  background-color: #f8f9fa;
}

.container {
  max-width: 600px;
  margin-top: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.tooltip-container {
  position: relative;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.table-div {
  overflow-x: auto;
}
